# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_RED_LEFT
    def_bool $(shields_list_contains,red_left)

config SHIELD_RED_RIGHT
    def_bool $(shields_list_contains,red_right)
